
.search{
	width: 90%;
	margin: 20px auto 10px auto;
	font-size: 14px;
	display: block;
	color: #DDD;
}
.search input{
	cursor: pointer;
}

.search .search-row1{
margin-bottom: 3px;
	display: inline-flex;
}

#login-table {
margin: auto;
width:90%;
text-align:center;
color: #29323c;

}
#login-table tbody{
overflow:auto;
background-color: lightgray;


}
#login-table th { 
background:#29323c;
color: #D9D9D9;
font-size: 14px;
padding: 5px 20px;
word-break:break-all;
}


#login-table td {
  padding: 5px 20px;
  word-break:break-all;
}







@media screen and (max-width:768px) {
.search .search-row1{
display: block;
	}

#login-table th { 
	font-size: 12px;
	}
#login-table td {
	font-size: 10px;
	}
	
}
@media screen and (max-width: 420px) {

}