.wrapper{
		display: block;
		margin-left: 20px;
}


.top {
	font-size: 1.2rem;
	display: block;
	color: #DDD;
	
}
.top input{
	cursor: pointer;
}

.top .top-row1{
	margin: 10px auto;
margin-bottom: 3px;
	display: inline-flex;
}
.middle{
		margin: 10px auto;
	display: block;
}
.middle span{
	margin-top:5px;
	 width: 100%;
font-size: 1.2rem;
	display: block;
	color: #DDD;
	float: left;
}

.middle table{
font-size: 1.2rem;
margin: auto 10px auto auto;
text-align:center;
color: #29323c;
background-color: rgba(255,255,255,0.6);
float: left;
}

.middle table th{
padding: 5px 20px;
word-break:break-all;

background-color: rgba(0,0,0,0.2);
}

.middle table td{
	padding: 2px 20px;
	border-bottom: 1px solid #666;
	height: 23px;
    word-break:break-all;

}


.bottom{
 width: 100%;

	display: block;
	color: #DDD;
	float: left;
}
.bottom div{
 width: 100%;
	font-size: 1.2rem;
	margin: 5px 0 ;
	display: block;
	color: #DDD;
	float: left;
}


@media screen and (max-width:768px) {

	
}
@media screen and (max-width: 420px) {

}
