	html, body {
  /*  background: #FFF;*/
  color: #444;
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
  overflow-X: hidden;
  overflow-Y: auto;
  padding: 0;
  background:#1C1E1F;
  background-blend-mode: multiply, multiply;


}
a {
  color: inherit;
  text-decoration: none;

}
a:hover {
  color: #64B2D6;
  cursor: pointer;
}
ul, li {
  list-style-type: none;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
ul li {
  display: inline-block;
}
header, .container, .box {
  margin: 0;
  padding: 0;
  position: relative;
}
header {
  background-image: linear-gradient(60deg, #0a0a0a 0%, #5b5f63 100%);
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  height: 60px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: initial;
  z-index: 5;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
html.active header {
  -webkit-transform: matrix(1, 0, 0, 1, -320, 0);
  -moz-transform: matrix(1, 0, 0, 1, -320, 0);
  transform: matrix(1, 0, 0, 1, -320, 0);
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
header .container {
  max-width: 550px;
}
header .box {
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 0 80px;
  padding: 10px;
}
header .box > ul {
  display: flex;
}
header .box ul li:hover {
  color: #64B2D6;
}
header .box > ul li {
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  /*  text-transform: uppercase;*/
}
header .box ul li:hover .dropdown-content {
  display: block;
}
#module-activation {
  margin: 70px 4% auto auto;
  text-align: right;
  font-size: 12px;
  /*	margin-right: 10%;*/
}
#module-activation .active {
  height: 30px;
  line-height: 30px;
  margin: 0 0 0 5px;
  padding: 0 10px;
  background-color: green;
  color: white;
  border-radius: 10px;
}
#module-activation .deactive {
  height: 30px;
  line-height: 30px;
  margin: 0 0 0 5px;
  background-color: gray;
  padding: 0 10px;
  border-radius: 10px;
  color: white;
}
#icvr-act, #ics-act, #contrabass-act, #syrup-act {
  display: inline-block;
  justify-content: space-between;
}
.dropdown-content {
  margin-top: 10px;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.dropdown-content a {
  color: black;
  padding: 0px 10px;
  text-decoration: none;
  display: block;
  font-size: 12px;
  font-weight: normal;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
#overlay {
  background: #000;
  bottom: 0;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 20;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
html.active #overlay {
  opacity: .65;
  visibility: visible;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
#home, .logo > a {
  border-radius: 8px;
  display: block;
  font-size: 32px;
  height: 36px;
  left: 0;
  line-height: 36px;
  margin: 10px 20px 10px 30px;
  overflow: hidden;
  padding: 2px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 36px;
}
#login-info {
  display: block;
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  margin: 10px 20px;
  position: fixed;
  right: 20px;
  color: inherit;
  text-align: center;
  top: 0;
  width: 150px;
}
#close-menu {
  cursor: pointer;
  display: block;
  height: 20px;
  line-height: 20px;
  margin: 15px 20px 15px auto;
  padding: 4px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 20px;
}
#tabs {
  background-size: 100%;
  width: 100%;
  height: 100%;
}
/* 탭 선택 시 표시할 요소(div) (1번 탭 선택 시 첫 번째 div 요소 표시) */
#tabs input:nth-of-type(1) ~ div:nth-of-type(1), #tabs input:nth-of-type(2) ~ div:nth-of-type(2) {
  display: none;
  /*	visibility: hidden;*/
}
#tabs input:nth-of-type(1):checked ~ div:nth-of-type(1), #tabs input:nth-of-type(2):checked ~ div:nth-of-type(2) {
  padding-left: 0px;
  padding-right: 0px;
  display: block;
  align-items: center;
  visibility: visible;
}
/* 라벨 기본 스타일 지정 */
#tabs > label {
  display: inline-block;
  margin-left: -5px;
  text-align: center;
  width: 8%;
  min-width: 70px;
  line-height: 25px;
  font-weight: 500;
  font-size: 12px;
  border-radius: 10px 10px 0 0;
  background: #0a0a0a;
  color: white;
}
#tabs > label .menu {
  padding-bottom: 10px;
  padding-top: 10px;
  vertical-align: middle;
}
#tabs > label:hover {
  cursor: pointer;
}
#tabs > label:hover .menu {
  filter: invert(.5)
}
#tabs label[for=tab1] {
  margin-left: 5%;
}
/* 선택된 라벨, 커서를 올린 라벨 스타일 지정 */
#tabs input:nth-of-type(1):checked ~ label:nth-of-type(1), #tabs > label[for=tab1]:hover {
  background: rgba(41, 50, 60, 0.3);
  color: #fff;
  /*	opacity: 0.9;*/
}
#tabs input:nth-of-type(1):checked ~ label:nth-of-type(1) .menu {
  filter: invert(.5);
}
#tabs input:nth-of-type(2):checked ~ label:nth-of-type(2), #tabs > label[for=tab2]:hover {
  background: rgba(41, 50, 60, 0.3);
  color: #fff;
  /*	opacity: 0.9;*/
}
#tabs input:nth-of-type(2):checked ~ label:nth-of-type(2) .menu {
  filter: invert(.5);
}
#tabs .tab1_content, #tabs .tab2_content {
  background-color: rgba(41, 50, 60, 0.3);
  margin: auto;
  padding: 50px;
  min-height: 500px;
  width: 95%;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #333333;
}
#hmd_array {
  font-weight: bold;
  font-size: 20px;
  margin: auto;
  width: 90%;
  color: #0a0a0a;
  justify-content: space-between;
}
#hmd_array .hmd {
  width: 18%;
  min-width: 140px;
  min-height: 100px;
  max-width: 300px;
  margin: 10px auto;
  padding: 5px;
  display: inline-block;
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  border: solid #ccc;
  border-width: 1px;
  vertical-align: top;
}
#hmd_array .hmd .hmdstate {
  width: 100%;
  display: inline;
  margin: auto;
}
#hmd_array .hmd .hmdstate .staterow {
  font-weight: 300;
  margin-bottom: 3px;
  font-size: 13px;
  color: gray;
}
#hmd_array .hmd .hmdstate .staterow img {
  margin: 3px;
  height: 16px;
  vertical-align: middle;
}
#main {
  /*  padding: 2em;*/
  background-size: 100%;
  /*  background-color: rgba(255, 255, 255, 1.00);*/
  margin-bottom: 10px;
  min-height: 700px;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-top: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: solid 1px #0a0a0a;
background: #8e9eab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#main .video-section {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: inline;
}
#main .video-section .poster {
  width: 100%;
  color: #199350;
  text-align: center;
  /*	justify-content: center;*/
}
#main .video-section .poster img {
  width: 200px;
  height: 200px;
  max-width: 200px;
  border-radius: 20px;
  box-shadow: 3px 3px 5px #999999;
}
#main .video-section .playinfo {
  padding-top: 2%;
  width: 90%;
  margin: auto;
  color: #494949;
  /*	text-align: center;*/
}
#main .video-section .playinfo .playinfo-text {
  color: #0a0a0a;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 2px auto 0px auto;
  /*	width: 100%;*/
}
#main .video-section .playinfo .playinfo-text .contents_name {
  float: left;
}
#main .video-section .playinfo .playinfo-text .end_time {
  float: right;
}
#main .video-section .playinfo .playicon {
  /*	background: rgba(41,50,60,0.70);*/
  border-radius: 50px;
  /*	border: solid 1px gray;*/
  width: 35%;
  margin: -25px auto 20px auto;
  display: block;
  text-align: center;
  /*	 box-shadow: 3px 50px 50px #999999;*/
}
#main .video-section .playinfo .playicon img {
  height: 50px;
	cursor: pointer;
}
.progress-bar {
  background-color: rgba(10, 10, 10, 0.60);
  height: 17px;
  padding: 2px;
  width: 100%;
  margin: 15px auto 5px auto;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(41, 50, 60, 1.00) inset, 0 1px 0 #444;
}
.progress-bar span {
  display: inline-block;
  height: 95%;
  background-color: #9CACBF;
  border-radius: 8px;
  box-shadow: 0 2px 0 rgba(255, 255, 255, 0.5) inset;
  transition: width .4s ease-in-out;
  margin: auto;
}
/*
.playLineHolder {
  width: 100%;
  background-color: rgb(231, 231, 231);
  border-radius: 20px;
	text-align: center;

 margin: auto;
}
.playLine {
  width: 80%;
  color: #fff;
  border-radius: 20px;
  padding-top: 5px;
  margin-top: 20px;
  font-weight: 300;
  background-image: linear-gradient(to right, gray, #0a0a0a);
  margin: auto;
	text-align: center;
}
*/
.block_name {
  padding-left: 5%;
  float: left;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  width: 10%;
}
.button-icon {
  margin: auto;
  width: 90%;
  text-align: right;
  padding-bottom: 5px;
  /*	padding: 3% 0 3% 0;*/
}
.button-icon img {
  height: 17px;
  background: #64B2D6;
  background: -webkit-linear-gradient(to right, #2193b0, #6dd5ed); /* Chrome 1`0-25, Safari 5.1-6 */
  /*	box-shadow: 1px 1px 1px 1px rgba(200,200,200,1.00);*/
  border-radius: 20px;
  padding: 5px;
  box-shadow: 2px 2px 2px #444444;
}
.button-icon img:hover {
  cursor: pointer;
  background-color: #0a0a0a;
}
.table-button {
  text-align: right;
  margin-right: 5%;
  margin-bottom: 12px;
}
.button-letter {
  font-size: 13px;
  color: #0a0a0a;
  padding: 3px 10px;
  background-color: #89B5D0;
  border-radius: 20px;
  box-shadow: 2px 2px 2px #444444;
}
.button-letter:hover {
  cursor: pointer;
  background-color: #0a0a0a;
	color: #fff;
}
.filebox label {
  display: inline-block;
  padding: .1em .55em;
  color: #fff;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #4A5E82;
  cursor: pointer;


  border-radius: .25em;
}
.filebox input[type="file"] { /* 파일 필드 숨기기 */ 
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
footer {
  display: flex;
}
footer article {
  width: 96%;
  float: right;
  padding-left: 2%;
  padding-right: 2%;
  text-align: justify;
  font-family: source-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 200;
  color: white;
}
footer article h5 {
  text-decoration: none;
  float: right;
  padding-left: 2%;
  padding-right: 2%;
  text-align: justify;
  font-family: source-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 200;
  color: white;
}
html.active, html.active body {
  overflow: hidden;
}
html.active section {
  -webkit-transform: matrix(1, 0, 0, 1, -320, 0);
  -moz-transform: matrix(1, 0, 0, 1, -320, 0);
  transform: matrix(1, 0, 0, 1, -320, 0);
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
/*
#main > h1 {
  color: black;
  font-size: 2em;
  left: 0;
  margin: 0 10%;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
*/
menu {
  background: #FFF;
  bottom: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  right: -320px;
  top: 0;
  width: 320px;
  z-index: 1;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
menu .container {
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 258px;
  -webkit-transform-origin: 0% 50% 0px;
  -moz-transform-origin: 0% 50% 0px;
  transform-origin: 0% 50% 0px;
  -webkit-transform: matrix(0.8, 0, 0, 0.9, 40, 0);
  -moz-transform: matrix(0.8, 0, 0, 0.9, 40, 0);
  transform: matrix(0.8, 0, 0, 0.9, 40, 0);
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
menu .container .box {
  border-top: 3px solid;
  height: calc(100% - 33px);
  overflow: visible;
  overflow-Y: scroll;
  padding: 0 17px 30px 0;
  position: relative;
  width: 275px;
}
menu .box ul:nth-child(1) {
  border-bottom: 3px solid;
}
menu .box ul {
  padding: 10px 0;
}
menu ul li {
  border-bottom: 1px solid #EDEDED;
  display: block;
  font-size: 13px;
  font-weight: bold;
  height: 39px;
  letter-spacing: 0.12em;
  line-height: 39px;
  text-transform: uppercase;
}
menu ul:nth-child(2) li {
  font-size: 10px;
}
menu ul:nth-child(2) li:last-child {
  border-bottom: 1px solid #EDEDED;
}
menu ul:nth-child(3) li {
  border: 0;
  display: inline-block;
}
menu ul:nth-child(3) li > a {
  border: 1px solid;
  border-radius: 100%;
  color: #898989;
  display: block;
  font-size: 22px;
  height: 24px;
  line-height: 24px;
  margin: 2px 4px;
  padding: 5px;
  text-align: center;
  width: 24px;
}
menu ul li:last-child {
  border: 0;
}
html.active menu {
  right: 0;
  z-index: 50;
}
html.active menu .container {
  -webkit-transform-origin: 0% 50% 0px;
  -moz-transform-origin: 0% 50% 0px;
  transform-origin: 0% 50% 0px;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
#menu {
  cursor: pointer;
  display: none;
  font-size: 30px;
  height: 40px;
  line-height: 40px;
  margin: 10px 20px;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  width: 40px;
}
@media screen and (max-width: 768px) {
  #menu {
    display: block;
  }
  #main .video-section .playinfo .playinfo-text .playicon img {
    width: 40px;
	
  }
  #main .video-section .poster img {
    width: 50%;
  }
  #login-info, header .box {
    display: none;
  }
  #module-activation {
    font-size: 12px;
  }
  .button-icon {
    padding-left: 78%;
  }
  @media screen and (max-width: 420px) {
    #main .play-contents .contents-poster img {
      max-width: 80px;
    }
    #main .play-contents .contents-poster img {
      max-width: 90px;
    }
    #main .video-section .playinfo .playinfo-text {
      font-size: 12px;
    }
  }
}