
.wrapper {
 width:100%;
 height: auto;
 display:inline-flex;
		align-items: center;
}


.left {
  width: 40%;
  display: block;


}
.left-top-table{
	overflow: auto;
	width: 100%;
	margin: 20px auto;
}

.left-bottom-table{
overflow: auto;
width: 100%;

}
.center {
	width: 10%;
float: left;
	text-align: center;
	color: #fff;
	font-size: 1.4rem;
}
.center .p{
	width: 100%;
/*	margin-bottom: 0px;*/
	font-weight: bold;
	
}

.right {
	width: 40%;
	float:left;
	height: 100%;
	

}

.right .right-table{
	height: auto;
	overflow: auto;
	margin: auto;
	width: 100%;
	margin-top: 10px;
}

#query-table, #ingest-table, #spl-table {
  margin: auto;
  text-align: center;
  color: #29323c;
  border-collapse: collapse;
/*  border:solid 1px red;*/

}
#query-table tbody, #ingest-table tbody, #spl-table tbody {
  overflow: auto;
  background-color: lightgray;
}
#query-table th, #ingest-table th,  #spl-table th{
	font-size: 1.2rem;
 background:#29323c;
  color: #D9D9D9;
  border:solid 1px #666;
/*  word-break: break-all;*/
}
#query-table td, #ingest-table td, #spl-table td{
		font-size: 1rem;
  padding: 5px 20px;
  border:solid 1px #29323c;
/*  word-break: break-all;*/
}
.right input{
		width: 120px;
	}
@media screen and (max-width:768px) {
#query-table td, #ingest-table td, #spl-table td{

  padding: 2px 5px;

/*  word-break: break-all;*/
}.right input{
		width: 100px;
	}

}
@media screen and (max-width: 420px) {
	
	.right input{
		width: 80px;
	}
}