
html,body{
		  font-family: 'Lato', sans-serif;
	  font-size: 12px;
}


.zindex-wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
	
}
.complete-wrapper{
	width: 200px;
	height: 200px;
	text-align: center;
	border-radius: 200px;
	background-color:  rgba(98,168,217,1.00);

	display: block;
	box-shadow: 3px 3px 3px #666;
}
.complete-wrapper p{
	color:#e6e6e6;
	margin: 5px auto;
	font-size: 1.6rem;
	font-weight: bold;

}
.complete-wrapper img{
	width: 80px;
	color:rgba(10, 10, 10, 0.60);
	margin: 20% auto auto auto;
	font-size: 1.4rem;
}
.progress-wrapper{
	width: 200px;
	height: 200px;
	
	border-radius: 200px;
	background-color: #ddd;
	margin: auto;
	box-shadow: 3px 3px 3px #666;
}
.progress-wrapper p{
	position: relative;
    top: 60px;
	color:rgba(10, 10, 10, 0.60);
	margin: 5px auto;
	font-size: 1.8rem;
	text-align: center;
}

.zindex-wrapper .progress-bar {

		width: 80%;
	
	  background-color: rgba(10, 10, 10, 0.60);
	  height: 10px;
	  padding-left: 2px;
	  padding-bottom: 4px; 
	  border-radius: 10px;
	  margin: 70px auto;
	
	}
.progress-bar span {
	  display: inline-block;
	  height: 100%;
	  background-color: #9CACBF;
	  border-radius: 8px;
	   padding-bottom: 1px;
	}

.filebox label {
  display: inline-block;
  padding: .1em .55em;
  color: #fff;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #4A5E82;
  cursor: pointer;


  border-radius: .25em;
}
.filebox input[type="file"] { /* 파일 필드 숨기기 */ 
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.button-icon {
  margin: auto;
  width: 90%;
  text-align: right;
  padding-bottom: 5px;
	
  /*	padding: 3% 0 3% 0;*/
}
.button-icon img {
  height: 17px;
  background: #333333;
  background: -webkit-linear-gradient(to right, #2193b0, #6dd5ed); /* Chrome 1`0-25, Safari 5.1-6 */
  /*	box-shadow: 1px 1px 1px 1px rgba(200,200,200,1.00);*/
  border-radius: 50%;
  padding: 6px;
  box-shadow: 2px 2px 2px #444444;
 
}
.button-icon img:hover {
  cursor: pointer;
  background-color: rgba(98,168,217,1.00);
}
.table-button {
  text-align: right;
  margin-right: 5%;
  margin-bottom: 12px;
}
.button-letter {
	display: inline-table;
  font-size: 1.1rem;
  margin: 2px;
  color: #29323c;
  padding: 3px 10px;
  background-color: #89B5D0;
  border-radius: 20px;
  box-shadow: 2px 2px 2px #444444;
}
.button-letter:hover {
  cursor: pointer;
  background-color: #29323c;
	color: #fff;
}
@media screen and (max-width: 768px) {

html,body{
		 
	  font-size: 10px;
}
		.complete-wrapper{
	
			width: 150px;
	height: 150px;
	}
.complete-wrapper p{
	
    top: 30px;
	margin: 5px auto;
	}
	
	.progress-wrapper{
	
			width: 150px;
	height: 150px;
	}
.progress-wrapper p{
	
    top: 30px;
	margin: 5px auto;
	}
	
.zindex-wrapper .progress-bar {
		height: 8px;

		 margin: 40px auto;
	}
	
	.button-letter {
 
  margin: 1px;
  color: #29323c;
  padding: 2px 5px;
  background-color: #89B5D0;
  border-radius: 20px;
  box-shadow: 2px 2px 2px #444444;
}

}

	
@media screen and (max-width: 420px) {
html,body{
		 
	  font-size: 8px;
}
	}