body {
/*	editing to make scrolling invisible
	overflow:hidden;
*/
}
.search{
	width: 90%;
	margin: 20px auto 10px auto;
	font-size: 14px;
	display: block;
	color: #DDD;
}
.search input{
	cursor: pointer;
}

.search .search-row1{
margin-bottom: 3px;
	display: inline-flex;
}

#ingest-table {
margin: auto;
width:90%;
text-align:center;
color: #29323c;

}
#ingest-table tbody{
overflow:auto;
background-color: lightgray;


}
#ingest-table th { 
background:#29323c;
color: #D9D9D9;
font-size: 14px;
padding: 5px 20px;
word-break:break-all;
}


#ingest-table td {
  padding: 5px 20px;
  word-break:break-all;
}



.register{
	width: 90%;
	height: 100%;
	margin: 50px auto 10px auto;
	color: #DDD;
    font-weight: bold;
	
/*	border: solid 1px #29323c;*/
/*	padding: 10px;*/
}

.register .register-contents{
	display: inline-block;
	margin-top:20px;
	
}

.register-contents table{
font-size: 14px;
margin: auto 10px auto auto;
text-align:center;
color: #29323c;
float:left;
font-weight: normal;
background-color: rgba(255,255,255,0.6);

}
.register-contents table body{
	overflow:auto;
	
}
.register-contents table th{
padding: 5px 20px;
word-break:break-all;

background-color: rgba(0,0,0,0.2);
}

.register-contents table td{
	padding: 2px 20px;
	border-bottom: 1px solid #666;
	height: 23px;
    word-break:break-all;

}

#poster-preview img{
	float:left;
	width: 160px;
	height: 125px;
	display: inline;
	margin-right: 10px;
}



@media screen and (max-width:768px) {
.search .search-row1{
display: block;
	}

#ingest-table th { 
	font-size: 12px;
	}
#ingest-table td {
	font-size: 10px;
	}
	
}
@media screen and (max-width: 420px) {

}